*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.expert-wrapper{
	width:100%;
	padding-bottom: 165px;
	background-color: #3d3e48;
}
.expert-wrapper .expert-container{
	width: 1010px;
	min-height: 100%;
	margin:0 auto;
	padding-top:75px;
}
.expert-container .expert-logo{
	text-align: center;
	margin-top:65px;
	margin-bottom:63px;
}
.expert-container .expert-logo img{
	width: 111px;
	height: 31px;
}
.expert-container .expert-title{
	height: 120px;
	text-align: center;
	margin-bottom:33px;
}
.expert-title .expert-subtitle{
	color:#fff;
	font-size:24px;
	font-weight: 400;
	height: 30px;
	line-height: 30px;
	margin-bottom: 21px;
}
.expert-title .expert-description{
	color:#b1b1b5;
	font-size:14px;
	font-weight: 400;
	line-height: 24px;
}
.expert-content{
	width: 590px;
	height: 400px;
	background: #fff;
	border-radius: 4px;
	margin:0 auto;
	overflow: hidden;
}
.expert-content .join-form{
	display: inline-block;
	vertical-align: top;
	width:360px;
	border-right: 1px solid #efefef;
	padding:25px;
}
.join-form .expert-fome{
	width: 309px;
}
.expert-fome .expert-num{
	margin-bottom: 22px;
}
.expert-num .phone-num{
	border:1px solid #e4e4e4;
	border-radius: 4px;
	box-sizing: border-box;
	color:#a9a9a9;
	display: inline-block;
	font-size: 14px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	outline: none;
	padding:0 15px;
}
.expert-fome .expert-proving{
	position: relative;
	margin-bottom: 22px;
	display: inline-block;
	width:309px;
}
.expert-proving .proving-num{
	border:1px solid #e4e4e4;
	border-radius: 4px;
	box-sizing: border-box;
	color:#a9a9a9;
	display: inline-block;
	font-size: 14px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	outline: none;
	padding:0 15px;
}
.expert-proving .obtain-num{
	position: absolute;
	padding:0;
	top:5px;
	right: 5px;
	width: 115px;
	height: 30px;
	border:1px solid #dcdfe6;
	border-radius: 2px;
	line-height: 30px;
	text-align: center;
	font-size: 13px;
	color: #666666;
	background-color: #eeeeee;
}
.expert-possword,.expert-again{
	width: 309px;
	margin-bottom: 22px;
}
.expert-possword .possword-num,.expert-again .again-possword{
	border:1px solid #e4e4e4;
	border-radius: 4px;
	box-sizing: border-box;
	color:#a9a9a9;
	display: inline-block;
	font-size: 14px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	outline: none;
	padding:0 15px;	
}
.expert-fome .expert-agree{
	display: inline-block;
	width: 15px;
	height: 15px;
	border:1px solid #dcdfe6;
	border-radius: 2px;
	background-color: #fff;
}
.expert-fome .expert-agreement{
	display: inline-block;
	height:15px;
	line-height: 15px;
	font-size: 14px;
	color:#305798;
}
.expert-fome .join-buttom{
	width: 309px;
	margin-top: 30px;
}
.join-buttom .expert-join{
	width: 100%;
	height: 40px;
	border:1px solid #62bd82;
	border-radius: 4px;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	color:#fff;
	background: #62bd82;
}
.expert-content .expert-aside{
	display: inline-block;
	vertical-align: top;
	padding:25px;
	color:#999;
	font-size: 12px;
}
.expert-aside .join-advantage{
	margin-bottom: 20px;
}
.join-advantage .join-list{
	font-size: 12px;
	color:#999999;
	height: 20px;
	line-height: 24px;
	margin-bottom: 20px;
}
.join-advantage .join-item{
	color: #667080;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
}
.expert-aside .join-parter{
	width: 175px;
	margin-bottom: 20px;
	display: inline-block;
}
.join-parter .parter-list{
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	margin-bottom: 20px;
}
.join-parter .parter-item{
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	margin-bottom: 20px;
}
.join-parter .parter-list .parter-item:nth-child(2n){
	margin-right: 10px;
}
.join-parter .parter-item img{
	width: 70px;
	height: 30px;
}
.expert-footer{
	width: 360px;
	text-align: center;
	margin:30px auto 0;
	color: #fff;
	font-size: 14px;
	height: 40px;
	line-height: 20px;
	padding-bottom: 20px;
}
.expert-footer .footer-login{
	text-decoration: none;
	color:#62bd82;
}
